<!doctype html>
<head>
    <title>Truth Tables</title>
    <style type="text/css">
        body {
            font-size: 14pt;
        }
        th, td {
            border: 1px solid black;
            /*text-align: center;*/
            vertical-align: middle;
            padding: 5px;
            font-family: "Courier New", Courier, monospace;
        }

        input[type=text] {
            width: 300px;
            font-size: 12pt;
            margin-bottom: 5px;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</head>
<body>