{% include 'header.html' %}
<h1>Truth Tables</h1>
Logical Formulas:<br />
{{ form }}
<br /><br />
<table cellspacing="0 px">
    <tr>
    {% for symbol in symbols %}
        <th>{{ symbol }}</th>
    {% endfor %}
    {% for formula in formulas %}
        <th>{{ formula }}</th>
    {% endfor %}
    </tr>
{% for i in range(combinations|length) %}
    <tr>
    {% for j in combinations[i][0] %}
        <td>
        {% if j %}
            <span style="color: green">T</span>
        {% else %}
            <span style="color: red">F</span>
        {% endif %}
        </td>
    {% endfor %}
    {% for row in rows[i] %}
        <td>
            {{ row }}
        </td>
    {% endfor %}
    </tr>
{% endfor %}
</table>
<br />
<br />
{% include 'footer.html' %}